#landingpage{
  text-align: center;
  background-image: url("/home/sunday/Desktop/IP2/ip2/assets/backgrounds/landing.jpg");
}
#breakfast {
  background-image: url("/home/sunday/Desktop/IP2/ip2/assets/foodtop/breakfast.jpg");
}
